
.vscode
**/__pycache__
experiments/**/*
experiments/**/*

!experiments/pretrained_models/README.md
**/*.pth
**/*.state
results/**
tf_logger/**/*


*.svg
*.pyc
*.t7
*.caffemodel
*.mat
*.npy


*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

